<footer>
    <div class="container">
        <div class="d-flex py-5">
            <div class="pr-3">
                <div class="f22 mb-2 ftitle">SOCIAL</div>
                <ul class="list-unstyled mb-0">
                    <li><a href="https://t.me/ANTI_SEAL">Telegram Group</a></li>
                    <li><a href="https://t.me/ANTISEAL_NEWSROOM">Telegram Newsroom</a></li>
                    <li><a href="https://twitter.com/ANTISEAL1">Twitter</a></li>
                    <li><a href="https://github.com/ANTISEAL">GitHub</a></li>
                </ul>
            </div>
            <img src="../../assets/images/seal-in-space.png" alt="" width="108px" class="order1" />
            <div class="pl-3">
                <div class="f22 mb-2 ftitle">FINANCES</div>
                <ul class="list-unstyled mb-0">
                    <li><a href="https://info.uniswap.org/pair/0x51c2b78e423ff673e07b1066f6448b5e91a9ee08">Uniswap Info</a></li>
                    <li><a href="https://v2.unicrypt.network/pair/0xE95e4440493E5b96e79D63E8Dc43AB676Dd44E4C">Liquidity Locked Tx</a></li>
                    <li><a href="https://app.uniswap.org/#/add/ETH/0xE95e4440493E5b96e79D63E8Dc43AB676Dd44E4C">Provide Liquidity</a></li>
                    <li><a href="https://etherscan.io/address/0xE95e4440493E5b96e79D63E8Dc43AB676Dd44E4C#code">Verified Contract</a></li>
                </ul>
            </div>
        </div>
        <div class="text-center pb-5 copy">
            <div class="f16 text-gray">© 2020 ANTISEAL. All rights reserved.</div>
            <div class="f13 text-gray">Beware of fakes, the only contract is </div>
            <div class="f13">0xe95e4440493e5b96e79d63e8dc43ab676dd44e4c</div>
        </div>
    </div>
</footer>