<section class="rlp pt-3">
    <div class="container">
        <div class="f24 text-shadow">TOKEN LIQUIDITY POOLS</div>
        <div class="row">
            <div class="col-6">
                <div class="box">
                    <img src="../../assets/images/Pair1.png" alt="" />
                    <div class="f24 text-blue">ETH-ANTISEAL</div>
                    <div class="f15 mb-4">ETH-ANTISEAL UNI-V2 LP</div>
                    <!--- <div class="f16 text-left text-blue">APY</div>
                    <div class="f36 text-left">5000%</div> --->
                    <a (click)="routeToMoversPlant('0')" href="javascript:;" class="btn blue w-100">SELECT</a>
                </div>
            </div>
            <div class="col-6">
                <div class="box">
                    <img src="../../assets/images/Pair2.png" alt="" />
                    <div class="f24 text-blue">ETH-WBTC</div>
                    <div class="f15 mb-4">ETH-WBTC UNI-V2 LP</div>
                    <!--- <div class="f16 text-left text-blue">APY</div>
                    <div class="f36 text-left">500%</div> --->
                    <a (click)="routeToMoversPlant('4')" href="javascript:;" class="btn blue w-100">SELECT</a>
                </div>
            </div>

        </div>
    </div>
</section>
<!----------------------------------------->
<section class="rclp pt-3">
    <div class="container">
        <div class="f24 text-shadow">STABLE COIN LIQUIDITY POOLS</div>
        <div class="row">
            <div class="col-6">
                <div class="box">
                    <img src="../../assets/images/Pair4.png" alt="" />
                    <div class="f24 text-green">ETH-USDT</div>
                    <div class="f15 mb-4">ETH-USDT UNI-V2 LP</div>
                    <!--- <div class="f16 text-left text-green">APY</div>
                    <div class="f36 text-left">500%</div> --->
                    <a (click)="routeToMoversPlant('1')" href="javascript:;" class="btn green w-100">SELECT</a>
                </div>
            </div>
            <div class="col-6">
                <div class="box">
                    <img src="../../assets/images/Pair5.png" alt="" />
                    <div class="f24 text-green">ETH-DAI</div>
                    <div class="f15 mb-4">ETH-DAI UNI-V2 LP</div>
                    <!--- <div class="f16 text-left text-green">APY</div>
                    <div class="f36 text-left">500%</div> --->
                    <a (click)="routeToMoversPlant('3')" href="javascript:;" class="btn green w-100">SELECT</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="rlp pt-3">
    <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="box">
                        <img src="../../assets/images/Pair6.png" alt="" />
                        <div class="f24 text-green">ETH-USDC</div>
                        <div class="f15 mb-4">ETH-USDC UNI-V2 LP</div>
                        <!---  <div class="f16 text-left text-green">APY</div>
                        <div class="f36 text-left">500%</div> --->
                        <a (click)="routeToMoversPlant('2')" href="javascript:;" class="btn green w-100">SELECT</a>
                    </div>
                </div>
            </div>
    </div>
</section> 